/.idea
/build
/dist
**/__pycache__/

#escondendo as credencias pq n sou burro
/credentials

#token
token.pickle

#ambiente de desenvolvimento
/venvKeylogger

# logs do keylogger
/logs

#so o print do pc, nada de mais
**NotebookAdrian.png